ProjectKarma/Binaries
ProjectKarma/Intermediate/
ProjectKarma/Saved
ProjectKarma/Build
ProjectKarma/ProjectKarma.xcworkspace/xcuserdata/Slin.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
ProjectKarma/ProjectKarma.xcworkspace/xcuserdata
ProjectKarma/ProjectKarma.VC.opendb
ProjectKarma/ProjectKarma.sdf
ProjectKarma/ProjectKarma.sln
